# Bash
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias l='ls -la'
alias ll='ls -l'
alias h='history'
alias free='free -m'
alias dh='df -h'
alias clear='cat /data/brain |lolcat --seed 30 && clear'
alias dot='source ~/.bash_profile'
alias funlist='declare -F'

# Vagrant
alias vd="vagrant destroy -f"
alias vu="vagrant up"
alias vs="vagrant status"
alias vdu="vagrant destroy -f && vagrant up"
alias vssh="vagrant ssh"

# Chef and kitchen
alias kc='kitchen converge'
alias kd='kitchen destroy'
alias kt='kitchen test'
alias kv='kitchen verify'
alias kl='kitchen list'
alias klg='kitchen login'
alias kcv='kitchen converge && kitchen verify'
alias fcp='sudo find . -type d -exec chmod 755 {} + && sudo find . -type f -exec chmod 644 {} + && echo $txtcyn Successfully Set permission on all files $txtrst'

# berkshelf
alias bi='berks install'
alias bl='berks list'
alias br='rm Berksfile.lock'
alias bir='br && bi'

# Git
alias gpo='git push origin master'
alias gpu='git pull upstream master'
alias ga='git add .'
alias gb='git branch'
alias gr='git remote -v'
alias gs='git status'

alias gi='
echo "Remotes";
echo "-------";
git remote -v;
echo
echo "Branches";
echo "-------";
git branch;
echo
echo "Status"
echo "-------";
git status'

# Tmux
alias tl='tmux list-session'

# MAC
alias removeds='find . -name *.DS_Store -type f -delete && echo $txtcyn .DS_Store Successfully Deleted! $txtrst'

# Ssh
alias clean_knonwn='rm ~/.ssh/known_hosts'
