# ------------------------------------------------------------------------------
# Github
# ------------------------------------------------------------------------------

# Github open master upstream
gou(){
  url=`git remote -v |grep fetch |grep -v upstream |awk '{print $2}'`; open $url
}

# Github open origin master
gom(){
  url=`git remote -v |grep fetch |grep -v origin |awk '{print $2}'`; open $url
}

# Github commit
gc(){
  local message=$1
  git commit -t $message
}

# ------------------------------------------------------------------------------
# Tmux
# ------------------------------------------------------------------------------

# tmux attach to session
ta(){
  local session_name=$1
  tmux attach-session $session_name
}

# tmux start a new session
tn(){
  local session=$1
  tmux new -s $session
}
