# Github open master upstream
function gou() {
  url=`git remote -v |grep fetch |grep -v upstream |awk '{print $2}'`; open $url
}

# Github open origin master
function gom() {
  url=`git remote -v |grep fetch |grep -v origin |awk '{print $2}'`; open $url
}

# Github commit
function gc() {
  git commit -t $1
}

# List AWS instances.
puters(){
    headers='ID,Zone,PrivateIP,T:Name,T:Environment'

    if [ ! -z ${2} ]; then
        list_instances -H $headers -f "tag:Name=*$1*,tag:Environment=$2"
    elif [ ! -z ${1} ]; then
        list_instances -H $headers -f "tag:Name=*$1*"
    else
        list_instances -H $headers
    fi
}

# Prints out AWS IPs.
putersips(){
        list_instances -H PrivateIP |sed 1,2d |grep -vi none
}

# tmux
function ta(){
  tmux attach-session $1
}
